**/.DS_Store
.ipynb_checkpoints/
.venv
.ipython
.jupyter
.local
.npm
.cache
.cmdstan
scripts/generation/outs/
survey_materials/outs/
scripts/analysis/nattyp_processing.py
scripts/analysis/distinctiveness_processing.py
fits/*/*/*
scripts/analysis/models/ordered-beta
